@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

// animate the stroke-dashoffset to a zero length
@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

.landing {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  .logoContainer {
    position: relative;
    width: 40rem;
    height: 40rem;
    .logo {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    .editedLogoText {
      width: 66.67%;
      height: 66.67%;
      position: absolute;
      top: 36%;
      left: 31%;
      /* Apply the animation to each mask */
      @for $i from 1 through 8 {
        mask:nth-of-type(#{$i}) {
          path {
            fill: none;
            stroke: #fff;
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: strokeOffset 0.5s linear forwards;
            animation-delay: 0.5s + $i * 0.3s;
          }
        }
      }
    }
  }

  .enter {
    width: 8rem;
    height: 3.5rem;
    font-family: "Zeyada", cursive;
    color: rgb(177, 162, 162);
    background: linear-gradient(to right, #ff0000, #000288);
    transform: translate(202px, 488px) rotate(334deg);
    font-size: 2.5rem;
    transition: box-shadow 0.25s, text-shadow 0.25s;

    &:hover {
      box-shadow: 0 0 8px rgba(255, 255, 255, 1);
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    }
  }
}
